div(class="panel panel-default")
	div(class="panel-heading") 
	div(class="panel-body")
		table(class="table")
			tr
				th Jugadores
			tr	
				td
					ul#jugadores
	div(class="panel-footer")
		input(type="text", class="form-control",placeholder="Quieres jugar" id="jugar")