extends layout
block content
	form#partida
		label(class="control-label") Titulo
		input(type="text" name="titulo")
		br
		label(class="control-label") Tipo de partida
		input(type="text" name="tipo")
		br
		label(class="control-label") Preguntas
		input(type="text" name="preguntas")
		br
		label(class="control-label") Tiempo de respuesta
		input(type="text" name="tiempor")
		br
		label(class="control-label") Categorias
		input(type="text" name="categoria")
		br
		button(type="submit" class="btn") Crear Partida
		br
		br
		button(type="submit" class="btn") Cancelar