extends layout
block content
	form
		label(class="control-label") Nombre de usuario
		input(type="text")
		br
		label(class="control-label") Contraseña
		input(type="password")
		br
		label(class="control-label") Contraseña de confirmación
		input(type="password")
		br
		label(class="control-label") E-mail
		input(type="email")
		br
		button(type="submit" class="btn") Enviar